html, body, p, a, ul, ol, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 50px;
    margin-top: 15px;
    border: 1px orange;
    border-radius: 3px;
    width: 275px;
}

#nav {
    background-color: orange;
    position: absolute;
    clear: both;
    width: 100%;
    display: inline;
    color: white;
    padding: 20px;
    font-family: sans-serif;
    font-size: 20px;
}

#nav a {
    float: right;
    color: white;
    text-decoration: none;
    padding-right: 40px;
}

.contact {
    margin-right: 30px;
}

#nav span {
    margin-left: 30px;
}

#ultimate {
    text-align: center;
}

#boxContainer {
    display: inline-block;
    margin: 125px;
}

.box {
    background-color: white;
    float: left;
    margin: 5px 5px;
    padding: 30px;
    height: 450px;
    width: 275px;
    border: 2px solid orange;
    border-radius: 5px;   
}

.box h3 {
    text-align: left;
    font-size: 30px;
}

.box p {
    text-align: left;
}